<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="mainlayout :: head"></head>
<body>
<div id="main-wrapper">
    <div th:replace="mainlayout :: navigation"></div>
    <div class="compny-profile">
        <div th:replace="mainlayout :: page-name(name='Add experience')"></div>
        <div class="row pt30">
            <div class="col-md-offset-3 col-md-6">
                <form class="form-black" th:action="@{/experiences/addNewExperience/{id}(id=${profileId})}"
                      th:object="${experienceForm}" method="post">
                    <input type="hidden" th:name="profileId" th:value="${profileId}">
                    <label>Title</label>
                    <input type="text" name="title" placeholder="Title">
                    <label>Company</label>
                    <input type="text" name="company" placeholder="Company">
                    <label>Location</label>
                    <input type="text" name="location" placeholder="Location">
                    <label>From dd-MM-yyyy</label>
                    <input type="text" class="dtpick" name="from" placeholder="From dd-MM-yyyy">
                    <label>To dd-MM-yyyy</label>
                    <input type="text" class="dtpick" name="to" placeholder="To dd-MM-yyyy">
                    <label>Description</label>
                    <textarea cols="40" rows="5" name="description" placeholder="Description"></textarea>
                    <input type="submit" class="btn mb20 btn-medium btn-primary" value="Add experience">
                </form>
            </div>
        </div>
    </div>
    <div th:replace="mainlayout :: footer"></div>
    <div th:replace="mainlayout :: copyright"></div>
</div>
<div th:replace="mainlayout :: mobile-menu"></div>
<div th:replace="mainlayout :: footer-scripts"></div>
</body>
</html>