<div class="col-md-6" xmlns:th="http://www.w3.org/1999/xhtml" th:each="experience, iterator : ${experienceList}">
    <!-- Experience Details -->
    <div class="sidebar">
        <h5 class="main-title"><span th:text="'Experiences Details ' + ${iterator.index + 1}"></span>
            <a th:href="@{/experiences/update/{id}(id=${experience.id})}"><i class="fa fa-pencil edit-but"></i></a>
            <a th:href="@{/experiences/delete/{id}(id=${experience.id})}"><i class="fa fa-trash delete-but"></i></a>
        </h5>
        <div class="sidebar-information">
            <ul class="single-category">
                <li class="row">
                    <h6 class="title col-xs-6">Title</h6>
                    <span class="subtitle col-xs-6" th:utext="${experience.title}">title</span></li>
                <li class="row">
                    <h6 class="title col-xs-6">Company</h6>
                    <span class="subtitle col-xs-6" th:utext="${experience.company}">company</span></li>
                <li class="row">
                    <h6 class="title col-xs-6">Location</h6>
                    <span class="subtitle col-xs-6" th:utext="${experience.location}">location</span></li>
                <li class="row">
                    <h6 class="title col-xs-6">From</h6>
                    <span class="subtitle col-xs-6" th:utext="${experience.from}">from</span></li>
                <li class="row">
                    <h6 class="title col-xs-6">To</h6>
                    <span class="subtitle col-xs-6" th:utext="${experience.to}">to</span></li>
                <li class="row">
                    <span class="subtitle col-xs-12" th:utext="${experience.description}">description</span></li>
            </ul>
        </div>
    </div>
</div>