<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="mainlayout :: head"></head>
<body>
<div id="main-wrapper">
    <div th:replace="mainlayout :: navigation"></div>
    <div class="compny-profile">
        <div th:replace="mainlayout :: page-name(name='Edit education')"></div>
        <div class="row pt30">
            <div class="col-md-offset-3 col-md-6">
                <form class="form-black" th:action="@{/educations/update/{id}(id=${educationDto.id})}"
                      th:object="${educationDto}" method="post">
                    <input type="hidden" th:name="profileId" th:value="*{profileId}">
                    <input type="hidden" th:name="id" th:value="*{id}">
                    <label>School</label>
                    <input type="text" name="school" th:value="*{school}" placeholder="School">
                    <label>Degree</label>
                    <input type="text" name="degree" th:value="*{degree}" placeholder="Degree">
                    <label>From year yyyy</label>
                    <input type="text" class="yearpick" name="fromYear" th:value="*{fromYear}"
                           placeholder="From year yyyy">
                    <label>To year yyyy</label>
                    <input type="text" class="yearpick" name="toYear" th:value="*{toYear}" placeholder="To year yyyy">
                    <label>Description</label>
                    <textarea th:field="*{description}" name="description" cols="40" rows="5"
                              placeholder="Description"></textarea>
                    <input type="submit" class="btn mb20 btn-medium btn-primary" value="Save education">
                </form>
            </div>
        </div>
    </div>
    <div th:replace="mainlayout :: footer"></div>
    <div th:replace="mainlayout :: copyright"></div>
</div>
<div th:replace="mainlayout :: mobile-menu"></div>
<div th:replace="mainlayout :: footer-scripts"></div>
</body>
</html>