<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="mainlayout :: head"></head>
<body>
<div id="main-wrapper">
    <div th:replace="mainlayout :: navigation"></div>
    <div th:replace="searchlayout :: content(members=${members}, companies=${companies}, jobs=${jobpostings})"></div>
    <div th:replace="mainlayout :: footer"></div>
    <div th:replace="mainlayout :: copyright"></div>
</div>
<div th:replace="mainlayout :: mobile-menu"></div>
<div th:replace="mainlayout :: footer-scripts"></div>
</body>
</html>

